In [1]:
import numpy as np 
import pandas as pd

In [4]:
data=pd.read_csv("play_tennis.csv")
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [5]:
data.drop(columns=['day'],inplace=True)

In [6]:
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [7]:
# problem 1

# outlook=sunny,Temp=Hot,Humidity=High,Wind=Weak
#play or no play?

In [8]:
#solution 
# P(yes /suuny,hot,high ,weak)=p(sunny/yes)*p(high/yes)*P(weak/yes)*p(yes)

#solution 
# P(no /suuny,hot,high ,weak)=p(sunny/no)*p(high/no)*P(weak/no)*p(no)

# compare and decide using maximum a posteriori rule

In [9]:
# problem 2

# outlook =overcast,temp=cold,Humidity=low,wind=weak

#play or no play  ?

In [10]:
#solution 
# P(yes /overcast,cold,high ,weak)=(p(overcast/yes)*p(cold/yes)*P(low/yes)*p(weak/yes))*p(yes)

#solution 
# P(no /overcast,hot,high ,weak)=(p(overcast/no)*p(cold/no)*p(low/no)*P(weak/no))*p(no)

# compare and decide using maximum a posteriori rule

In [11]:
# Traning 

# lookup Table (Dictionary )

# Testing

In [12]:
# P(Yes)
# P(No)

In [13]:
data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [14]:
py=9/14 # probality of yes 

pn=5/14  # probality of No

In [15]:
print(pn)
print(py)

0.35714285714285715
0.6428571428571429

In [16]:
# Outlook 

pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [17]:
pon=0  # problity of overcast NO
prn=2/5 # problity of rain NO
psn=3/5  # problality of sunny NO


poy=4/9  # problity of overcast yes
pry=3/5 # problity of rain yes
psy=2/5  # problality of sunny yes

In [18]:
# Temparature

pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [19]:
pcoolNO=1/5
pHotNo=2/5
pMildNo=2/5

pcoolyes=3/9
pHotyes=2/9
pMildyes=4/9

In [ ]:
# Humidity

pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [22]:
phighno=4/5
pnormalno=1/5

phighyes=3/9
pnormalyes=6/9

In [23]:
# wind

pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [24]:
pstrongNO=3/5
pweakno=2/5


pstrongyes=3/9
pweakyes=6/9

In [26]:
# problem 1

# outlook=sunny,Temp=Hot,Humidity=High,Wind=Weak
#play or no play?

pyes=py*psy*pHotyes*phighyes*pweakyes
print(pyes)

0.012698412698412698

In [27]:
pno=pn*psn*phighno*pHotNo*pweakno
print(pno)

0.02742857142857143